body{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif,monospace,cursive,'Courier New', Courier, monospace,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    height:auto;
    background-color: #000;
}
.navbar, .navbar-brand,.navbar-nav, .nav, .nav-link{
    color:white;

    font-weight: bold;
    text-decoration: none;
    text-transform:uppercase;
}
.navbar:hover, .navbar-brand:hover,.nav-link:hover{
    color:orangered;
}

#top{
    width:100%;
    height:100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#low{
    width:100%;
    height:100vh;
    background-image: url('../images/swan-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#big-box{
    position:absolute;
    
    /**border:1px white solid;
    box-shadow: 1px 1px 2px white;**/
}

#small-box, #btn-top{
    position:absolute;
    width:180px;
    height:70px;
}
#small-box{
    filter:blur(2px);
    -webkit-filter: blur(2px);
    z-index:1;
}
#btn-top{
    font-weight: bold;
    color:white;

    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    
    border:2px white solid;
    box-shadow:2px 2px 5px white;
    z-index:2;
}
.section{
    height:100vh;
}
#head{
    margin-top: 80px;
    text-decoration: none;
    text-transform: capitalize;
}

#profile{
    display:block;
    margin-top:10%;
    width:100%;
    height:auto;
}
#profile-image{
    width:100px;
    height:100px;
    margin-top:30px;
    background-color: gainsboro;
    background-image: url('/static/images/swan-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: limegreen;
    border-radius: 80px;
}
#profile h4{
    font-weight:bold;
    text-decoration:none;
    text-transform: capitalize;
}
#profile p{
    font-weight: 700;
    text-decoration:none;
    text-transform: capitalize;
}

#profile-box{
   display:block;
   width:100%;
   height:auto;
   text-decoration: none;
}
#profile-head{
    display: block;
    text-decoration: none;
}
#profile-head h3{
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding-bottom:10px;
}
#profile-body{
    border: 2px rgb(235, 242, 152) solid;
    
}
#profile-body p{
    padding-left:10px;
}