body{
   font-family: sans-serif;
}
footer{
    text-align: center;
    text-decoration: none;
    padding-top:5px;
    border-top:2px gainsboro solid;
}
footer span{
    font-size:18px;
    font-weight: bold;
    text-transform:capitalize;
}

nav{
    font-size: 20px;
    text-transform:uppercase;
}
.navbar{   
    position:fixed;
    width:100%;
    height:50px;
    margin-left:0px;

    background-color: #FFF;
    border-bottom:0.5px gainsboro solid;
    z-index: 2;
}
.nav-link, .navbar-brand{
    color:#000;
    font-weight: bold;
}
.collapse, .navbar-collapse,.navbar-toggler{
    background-color: #FFF;
    margin-left:0px;
}

.top, .about, .services, .contact{
    height:100vh;
    background-color:#fff;
    border-bottom:2px green;
}
#left, #middle, #right{   
    display: block;
    position:absolute;

    background-color: gray;
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border:2px beige;
}
.top #left{
    display: block;
    position:absolute;

    top:12.5%;
    left:5%;
    width:40%;
    height: 80vh;
}
.top #right{
    display: block;
    position:absolute;

    top:12.5%;
    left:55%;
    width:40%;
    height: 80vh;
}
.top #middle{   
    top:10%;
    left:20%;
    width:60%;
    height: 85vh;
    z-index:1;
}
.top .box{
    display:block;
    position:absolute;

    top:50%;
    left:43%;
    width:180px;
    height:auto;
    
    text-align:center;
    text-decoration: none;
    text-transform:capitalize;
    
    border:2px white solid;
    box-shadow: 3px 3px 6px whitesmoke;
    z-index:1;
}
.top .box:hover{
    box-shadow: 2px 2px 4px rgb(225, 225, 225);
}
.top .box h4{
    font-size:35px;
    color:white;
}

#head{
    position:absolute;
    margin-top:5%;
    margin-left: 45%;
    text-decoration: none;
    text-transform: capitalize;
}
#profile-box{
    display:block;
    position: absolute;
    margin-top:12%;
    margin-left:2%;
    width:60vh;
    height:60vh;

    text-align:center;
    align-items: center;
    box-shadow: 7px 7px 15px rgb(200, 200, 200);

}
#profile-box .image-box {
    display: block;
    margin-top:10px;
    margin-left:25%;
    width: 50%;
    height:50%;

    background-color: gainsboro;
    background-image: url('../images/background.jpeg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 100px ;
    box-shadow: 2px 2px 2px 2px gainsboro;
}
#profile-box #name{
    position: absolute;
    margin-top: 10%;
    margin-left:30%;

    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
#profile-box #since{
    position: absolute;
    margin-top: 20%;
    margin-left:18%;

    font-size:20px;

    text-decoration: none;
    text-transform: capitalize;
}

#description-box{
    display:block;
    position:absolute;
    margin-top:15%;
    margin-left:50%;
    width:35vw;
    padding-left:10px;
    box-shadow: 7px 7px 15px rgb(200, 200, 200);
}
#description-box h2{
    padding-bottom:15px;

    text-decoration:none;
    text-transform:capitalize
}
#description-box p{
    font-size:16px;
}

.contact header{
    display:block;
    position:absolute;

    margin-top:10%;
    text-align:center;
}