body{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif,monospace,cursive,'Courier New', Courier, monospace,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/***.navbar, .navbar-brand,.nav-link{
    font-size:20px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
} ***/
.navbar{
    height:auto;
}
.navbar, .navbar-brand,.navbar-nav, .nav, .nav-link{
    color:white;

    font-weight: bold;
    text-decoration: none;
    text-transform:uppercase;
}
.navbar:hover, .navbar-brand:hover,.nav-link:hover{
    color:orangered;
}

#top{
    width:100%;
    height:100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#low{
    width:100%;
    height:100vh;
    background-image: url('../images/swan-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#big-box{
    position:absolute;
    
    /**border:1px white solid;
    box-shadow: 1px 1px 2px white;**/
}
#small-box{
    filter:blur(2px);
    -webkit-filter: blur(2px);

    border:2px white solid;
    box-shadow:2px 2px 5px white;
    z-index:1;
}
#small-box, #btn-top{
    position:absolute;
    width:180px;
    height:70px;
}
#btn-top{
    font-weight: bold;
    color:white;

    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    z-index:2;
}
#btn-top h1{
    padding-top: 5px;
}
