@media (min-width:240px)
{
   #big-box{
    
    top:15%;
    left:10%;
    width:80%;
    height:75%;
   }
   #small-box, #btn-top{
    
    top:50%;
    left:17%;
    width:160px;
    height:auto;
    z-index:1;
   }
   #btn-top h1{
       padding-top: 5px;
       font-size:25px;
   }
}
@media only screen and (min-width:320px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;
       }
       #small-box, #btn-top{
        
        top:50%;
        left:25%;
        width:150px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }
}
@media only screen and (min-width:400px)
{
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:27.5%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }
}
@media only screen and (min-width:480px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:32.5%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }     
}
@media only screen and (min-width:560px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:37.5%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }
}
@media only screen and (min-width:640px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:40%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }

      

}
@media only screen and (min-width:720px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:40%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }
}
@media only screen and (min-width:800px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:40%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
           padding-top: 5px;
           font-size:25px;
       }
}
@media only screen and (min-width:880px){
    #big-box{
        
        top:15%;
        left:10%;
        width:80%;
        height:75%;    
       }
       #small-box, #btn-top{
        
        top:50%;
        left:40%;
        width:160px;
        height:auto;
        z-index:1;
       }
       #btn-top h1{
        width:160px;
        font-size:25px;
       }
}
@media only screen and (min-width:960px)
{
    #big-box{
        top:15%;
        left:10%;  
       }
       #small-box, #btn-top{
       
        top:50%;
        left:45%;
       
       }
       #btn-top h1{
        width:160px;
        padding-top: 5px;
        font-size:25px;
       }
}